version: "2"

services:
  proxy:
    image: localhost:5000/sut
    environment:
      PROXY_PORT: 5000
      REGISTRY2_HOST: registry2.balena-cloud.com

  docker:
    image: docker:27.5.0-dind
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    command: --insecure-registry=http://proxy:5000 --debug
    depends_on:
      - proxy

  sut:
    image: alpine:3.21
    entrypoint:
      - /bin/sh
      - -c
    command:
      - |
        set -ex
        apk add --no-cache skopeo docker-cli-buildx
        # wait for docker to be ready
        while ! docker system info; do sleep $(( (RANDOM % 5) + 3 )); done
        # test legacy docker pull
        docker build .
        # test buildx docker pull
        docker buildx create --config /buildkitd.toml --driver-opt network=host --use
        docker buildx build --pull .
        # skopeo image inspect
        skopeo inspect docker://proxy:5000/balena/open-balena-registry-proxy --tls-verify=false
    depends_on:
      - proxy
      - docker
    environment:
      DOCKER_HOST: tcp://docker:2375
    volumes:
      - ./tests/fixtures/src:/src:ro
      - ./tests/fixtures/buildkitd.toml:/buildkitd.toml:ro
    working_dir: /src
